In [1]:
import pandas as pd

In [126]:
df0 = pd.read_excel(r'PT.xlsx', )
df0.head()

      adverse event
0     off label use
1  drug ineffective
2  feeling abnormal
3           anxiety
4  weight increased

In [127]:
df1 = pd.read_csv(r'llt_to_soc0.csv')
df1.head()

,llt_c,llt,pt_c,soc,soc_c,if_
0,10000001,Ventilation pneumonitis,10081988,"Respiratory, thoracic and mediastinal disorders",10038738,Y
1,10000002,11-beta-hydroxylase deficiency,10000002,"Congenital, familial and genetic disorders",10010331,Y
2,10000003,11-oxysteroid activity incr,10033315,Investigations,10022891,Y
3,10000004,11-oxysteroid activity increased,10033315,Investigations,10022891,Y
4,10000005,17 ketosteroids urine,10000005,Investigations,10022891,Y

In [128]:
df0['pt'] = df0['adverse event']

In [129]:
df0['pt'] = df0['pt'].str.upper()

In [130]:
df0.head()

      adverse event                pt
0     off label use     OFF LABEL USE
1  drug ineffective  DRUG INEFFECTIVE
2  feeling abnormal  FEELING ABNORMAL
3           anxiety           ANXIETY
4  weight increased  WEIGHT INCREASED

In [132]:
df1['pt']=df1.llt
df1.pt = df1.pt.str.upper()

In [133]:
df1.head()

,llt_c,llt,pt_c,soc,soc_c,if_,pt
0,10000001,Ventilation pneumonitis,10081988,"Respiratory, thoracic and mediastinal disorders",10038738,Y,VENTILATION PNEUMONITIS
1,10000002,11-beta-hydroxylase deficiency,10000002,"Congenital, familial and genetic disorders",10010331,Y,11-BETA-HYDROXYLASE DEFICIENCY
2,10000003,11-oxysteroid activity incr,10033315,Investigations,10022891,Y,11-OXYSTEROID ACTIVITY INCR
3,10000004,11-oxysteroid activity increased,10033315,Investigations,10022891,Y,11-OXYSTEROID ACTIVITY INCREASED
4,10000005,17 ketosteroids urine,10000005,Investigations,10022891,Y,17 KETOSTEROIDS URINE

In [134]:
df2 = pd.merge(df0,df1,on = 'pt', how = 'left')

In [135]:
df2.columns

Index(['adverse event', 'pt', 'llt_c', 'llt', 'pt_c', 'soc', 'soc_c', 'if_'], dtype='object')

In [137]:
df2 = df2[['adverse event', 'soc']]

In [138]:
df2

,adverse event,soc
0,off label use,"Injury, poisoning and procedural complications"
1,drug ineffective,General disorders and administration site cond...
2,feeling abnormal,General disorders and administration site cond...
3,anxiety,Psychiatric disorders
4,weight increased,Investigations
...,...,...
2562,wrist surgery,Surgical and medical procedures
2563,wrong dose,"Injury, poisoning and procedural complications"
2564,wrong schedule,"Injury, poisoning and procedural complications"
2565,wrong technique in device usage process,"Injury, poisoning and procedural complications"
2566,yellow skin,Skin and subcutaneous tissue disorders

In [139]:
df2.to_excel(r'output2.xlsx', index = False)

In [88]:
llt = pd.read_csv(r'llt.asc', sep = '$', header = None)
llt

,0,1,2,3,4,5,6,7,8,9,10,11
0,10000001,Ventilation pneumonitis,10081988,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1,10000002,11-beta-hydroxylase deficiency,10000002,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
2,10000003,11-oxysteroid activity incr,10033315,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
3,10000004,11-oxysteroid activity increased,10033315,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
4,10000005,17 ketosteroids urine,10000005,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
86709,10089025,Neonatal intensive care,10022519,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
86710,10089026,Desmoplastic infantile ganglioglioma,10068601,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
86711,10089027,Pellucid marginal corneal degeneration,10010996,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
86712,10089028,Bone chip removal,10085048,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
86713,10089029,Pollicization,10068943,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN

In [90]:
llt = llt[[0,1,2,9]]
llt

              0                                       1         2  9
0      10000001                 Ventilation pneumonitis  10081988  N
1      10000002          11-beta-hydroxylase deficiency  10000002  Y
2      10000003             11-oxysteroid activity incr  10033315  N
3      10000004        11-oxysteroid activity increased  10033315  Y
4      10000005                   17 ketosteroids urine  10000005  Y
...         ...                                     ...       ... ..
86709  10089025                 Neonatal intensive care  10022519  Y
86710  10089026    Desmoplastic infantile ganglioglioma  10068601  Y
86711  10089027  Pellucid marginal corneal degeneration  10010996  Y
86712  10089028                       Bone chip removal  10085048  Y
86713  10089029                           Pollicization  10068943  Y

[86714 rows x 4 columns]

In [92]:
llt.columns = ['llt_c', 'llt', 'pt_c', 'if']

In [111]:
tt =  pd.read_csv(r'mdhier.asc', sep = '$', header = None)
tt.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,10002043,10002042,10002086,10005329,Anaemia folate deficiency,Anaemia deficiencies,Anaemias nonhaemolytic and marrow depression,Blood and lymphatic system disorders,Blood,NaN,10005329,Y,NaN
1,10002080,10002042,10002086,10005329,Anaemia vitamin B12 deficiency,Anaemia deficiencies,Anaemias nonhaemolytic and marrow depression,Blood and lymphatic system disorders,Blood,NaN,10005329,Y,NaN
2,10002081,10002042,10002086,10005329,Anaemia vitamin B6 deficiency,Anaemia deficiencies,Anaemias nonhaemolytic and marrow depression,Blood and lymphatic system disorders,Blood,NaN,10005329,Y,NaN
3,10022972,10002042,10002086,10005329,Iron deficiency anaemia,Anaemia deficiencies,Anaemias nonhaemolytic and marrow depression,Blood and lymphatic system disorders,Blood,NaN,10005329,Y,NaN
4,10034695,10002042,10002086,10005329,Pernicious anaemia,Anaemia deficiencies,Anaemias nonhaemolytic and marrow depression,Blood and lymphatic system disorders,Blood,NaN,10005329,Y,NaN

In [112]:
tt = tt[[0, 7, 10, 11]]
tt.columns = ['pt_c', 'soc', 'soc_c', 'if_']

In [113]:
tty = tt[tt.if_ == 'Y'].copy()

In [114]:
tot = pd.merge(llt,tty, on = 'pt_c' , how = 'left')

In [115]:
tot

,llt_c,llt,pt_c,if,soc,soc_c,if_
0,10000001,Ventilation pneumonitis,10081988,N,"Respiratory, thoracic and mediastinal disorders",10038738,Y
1,10000002,11-beta-hydroxylase deficiency,10000002,Y,"Congenital, familial and genetic disorders",10010331,Y
2,10000003,11-oxysteroid activity incr,10033315,N,Investigations,10022891,Y
3,10000004,11-oxysteroid activity increased,10033315,Y,Investigations,10022891,Y
4,10000005,17 ketosteroids urine,10000005,Y,Investigations,10022891,Y
...,...,...,...,...,...,...,...
86709,10089025,Neonatal intensive care,10022519,Y,Surgical and medical procedures,10042613,Y
86710,10089026,Desmoplastic infantile ganglioglioma,10068601,Y,"Neoplasms benign, malignant and unspecified (i...",10029104,Y
86711,10089027,Pellucid marginal corneal degeneration,10010996,Y,Eye disorders,10015919,Y
86712,10089028,Bone chip removal,10085048,Y,Surgical and medical procedures,10042613,Y
86713,10089029,Pollicization,10068943,Y,Surgical and medical procedures,10042613,Y

In [121]:
tot.drop('if',axis=1,inplace = True)

In [140]:
tot.columns

Index(['llt_c', 'llt', 'pt_c', 'soc', 'soc_c', 'if_'], dtype='object')

In [141]:
tot.columns = ['llt_c', 'llt_n', 'pt_c', 'soc_n', 'soc_c', 'if_']

In [142]:
tot.to_csv(r'llt_to_soc0.csv',index = False)

# 下边来合并中文

In [3]:
df = pd.read_csv(r'llt_to_soc0.csv')

In [4]:
df.head()

,llt_c,llt_n,pt_c,soc_n,soc_c,if_
0,10000001,Ventilation pneumonitis,10081988,"Respiratory, thoracic and mediastinal disorders",10038738,Y
1,10000002,11-beta-hydroxylase deficiency,10000002,"Congenital, familial and genetic disorders",10010331,Y
2,10000003,11-oxysteroid activity incr,10033315,Investigations,10022891,Y
3,10000004,11-oxysteroid activity increased,10033315,Investigations,10022891,Y
4,10000005,17 ketosteroids urine,10000005,Investigations,10022891,Y

In [5]:
llt = pd.read_csv(r'llt.asc', sep = '$', header = None)
llt = llt[[0,1,2]]
llt.columns = ['llt_c', 'llt_zh', 'pt_c']

In [6]:
llt.head()

      llt_c          llt_zh      pt_c
0  10000001         “换气性”肺炎  10081988
1  10000002      11-β-羟化酶缺乏  10000002
2  10000003  11 - 含氧类固醇活性增加  10033315
3  10000004  11 - 含氧类固醇活性增加  10033315
4  10000005        尿17-酮类固醇  10000005

In [9]:
tt =  pd.read_csv(r'mdhier.asc', sep = '$', header = None)
tt = tt[[0, 7, 10, 11]]
tt.columns = ['pt_c', 'soc', 'soc_c', 'if_']
tty = tt[tt.if_ == 'Y'].copy()
tot = pd.merge(llt,tty, on = 'pt_c' , how = 'left')

In [10]:
tot.head()

      llt_c          llt_zh      pt_c            soc     soc_c if_
0  10000001         “换气性”肺炎  10081988    呼吸系统、胸及纵隔疾病  10038738   Y
1  10000002      11-β-羟化酶缺乏  10000002  各种先天性家族性遗传性疾病  10010331   Y
2  10000003  11 - 含氧类固醇活性增加  10033315           各类检查  10022891   Y
3  10000004  11 - 含氧类固醇活性增加  10033315           各类检查  10022891   Y
4  10000005        尿17-酮类固醇  10000005           各类检查  10022891   Y

In [15]:
tot = tot[['llt_c', 'llt_zh', 'soc']]
tot.columns = ['llt_c', 'llt_zh', 'soc_zh']

In [17]:
tot.head()

      llt_c          llt_zh         soc_zh
0  10000001         “换气性”肺炎    呼吸系统、胸及纵隔疾病
1  10000002      11-β-羟化酶缺乏  各种先天性家族性遗传性疾病
2  10000003  11 - 含氧类固醇活性增加           各类检查
3  10000004  11 - 含氧类固醇活性增加           各类检查
4  10000005        尿17-酮类固醇           各类检查

In [20]:
#合并
df1 = pd.merge(df, tot, on = 'llt_c', how = 'left')
df1

,llt_c,llt_n,pt_c,soc_n,soc_c,if_,llt_zh,soc_zh
0,10000001,Ventilation pneumonitis,10081988,"Respiratory, thoracic and mediastinal disorders",10038738,Y,“换气性”肺炎,呼吸系统、胸及纵隔疾病
1,10000002,11-beta-hydroxylase deficiency,10000002,"Congenital, familial and genetic disorders",10010331,Y,11-β-羟化酶缺乏,各种先天性家族性遗传性疾病
2,10000003,11-oxysteroid activity incr,10033315,Investigations,10022891,Y,11 - 含氧类固醇活性增加,各类检查
3,10000004,11-oxysteroid activity increased,10033315,Investigations,10022891,Y,11 - 含氧类固醇活性增加,各类检查
4,10000005,17 ketosteroids urine,10000005,Investigations,10022891,Y,尿17-酮类固醇,各类检查
...,...,...,...,...,...,...,...,...
86709,10089025,Neonatal intensive care,10022519,Surgical and medical procedures,10042613,Y,新生儿重症监护,各种手术及医疗操作
86710,10089026,Desmoplastic infantile ganglioglioma,10068601,"Neoplasms benign, malignant and unspecified (i...",10029104,Y,婴儿成结缔组织性神经节胶质瘤,良性、恶性及性质不明的肿瘤（包括囊状和息肉状）
86711,10089027,Pellucid marginal corneal degeneration,10010996,Eye disorders,10015919,Y,透明边缘角膜变性,眼器官疾病
86712,10089028,Bone chip removal,10085048,Surgical and medical procedures,10042613,Y,骨片去除术,各种手术及医疗操作
86713,10089029,Pollicization,10068943,Surgical and medical procedures,10042613,Y,拇指整复术,各种手术及医疗操作

In [21]:
df1.to_csv(r'llt_to_soc1.csv',index = False)

In [25]:
# 需求实现

In [40]:
df0 = pd.read_excel(r'正确PT.xlsx', )
df0['pt'] = df0['adverse event']
df0['pt'] = df0['pt'].str.upper()
df1['pt']=df1.llt_n
df1.pt = df1.pt.str.upper()
df2 = pd.merge(df0,df1,on = 'pt', how = 'left')

In [41]:
df2 = df2[['adverse event',  'soc_n',
        'llt_zh', 'soc_zh']]

In [42]:
df2.columns

Index(['adverse event', 'soc_n', 'llt_zh', 'soc_zh'], dtype='object')

In [43]:
df2.columns = ['adverse event',  'soc_n',
        'pt_n_zh', 'soc_n_zh']

In [44]:
df2

,adverse event,soc_n,pt_n_zh,soc_n_zh
0,off label use,"Injury, poisoning and procedural complications",超说明书使用,各类损伤、中毒及操作并发症
1,feeling abnormal,General disorders and administration site cond...,感受异常,全身性疾病及给药部位各种反应
2,drug ineffective,General disorders and administration site cond...,药物无效,全身性疾病及给药部位各种反应
3,anxiety,Psychiatric disorders,焦虑,精神病类
4,somnolence,Nervous system disorders,嗜睡,各类神经系统疾病
...,...,...,...,...
2011,wrist surgery,Surgical and medical procedures,腕关节手术,各种手术及医疗操作
2012,wrong dose,"Injury, poisoning and procedural complications",剂量有误,各类损伤、中毒及操作并发症
2013,wrong product administered,"Injury, poisoning and procedural complications",给予的产品有误,各类损伤、中毒及操作并发症
2014,wrong schedule,"Injury, poisoning and procedural complications",日程有误,各类损伤、中毒及操作并发症
2015,yellow skin,Skin and subcutaneous tissue disorders,黄色皮肤,皮肤及皮下组织类疾病

In [45]:
df2.to_excel(r'output4.xlsx', index = False)